.thread-card {
  display: flex;
  flex-direction: row;
  margin-top: 24px;
  margin-bottom: 24px;
  height: 290px;
}

.thread-image {
  height: 290px;
  width: 290px;
}

.thread-link h1 {
  color: #1890ff;
}

.card-content {
  display: flex;
  flex-direction: column;
  height: 240px;
}

.card-content h3.subtitle {
  color: grey;
  margin-bottom: 0;
}

.card-content div.content {
  color: grey;
  margin-top: 8px;
  margin-bottom: 8px;
}
.tags {
  color: #318ffc;
  cursor: pointer;
  margin-top: 8px;
  margin-bottom: 8px;
}

.card-content div.header {
  margin-top: 8px;
}
@media screen and (max-width: 960px) {
  .thread-card {
    display: flex;
    flex-direction: row;
    margin-top: 24px;
    margin-bottom: 24px;
    height: 290px;
  }

}

@media screen and (max-width: 800px) {

  .thread-item {
    display: flex;
    margin-right: 0;
    margin-left: 0;
    flex-direction: column;
    height: fit-content;
  }

  .card-content {
    display: flex;
    flex-direction: column;
    height: fit-content;
  }
}


